<div class="custom-height p-3">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let pericias of _personagem?.pericias">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Perícias de {{pericias.attrRelation}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="key-value-inline" *ngFor="let pericia of pericias.values">
        <label>{{pericia.name}}</label>
        <div>
          <input type="number" class="" value="{{pericia.value}}">
          <span>+{{_personagem.atributos[pericias.attrRelation]}}</span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
