<mat-toolbar class="d-flex justify-content-between">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <button mat-mini-fab *ngIf="fightMode" (click)="fightMode = false" class="button__icon--center"
  >
    <mat-icon svgIcon="sword"></mat-icon>
  </button>
  <button mat-mini-fab *ngIf="!fightMode" (click)="fightMode = true"
    color="primary" class="button__icon--center"
  >
    <mat-icon svgIcon="compass"></mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="main-context">
  <mat-sidenav #sidenav mode="over" fixedTopGap="300" class="nav-menu">
    <app-main-menu></app-main-menu>
  </mat-sidenav>

  <mat-sidenav-content class="">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
