<!-- <app-custom-input></app-custom-input> -->
<div class="p-3">
  <mat-card class="col-md-1 col-sm-12">
    <div class="key-value-inline">
      <label>Raça</label>
      <input class="w-100">
    </div>
    <div class="key-value-inline">
      <label>Gênero</label>
      <input class="w-100">
    </div>
    <div class="key-value-inline">
      <label>Idade</label>
      <input class="w-100">
    </div>
    <div class="key-value-inline">
      <label>Profissão</label>
      <input class="w-100">
    </div>
  </mat-card>
  <mat-card class="col-md-2 col-sm-12">
    <div class="key-value-inline">
      <label>Posição Social</label>
      <input class="w-100">
    </div>
    <div>
      <label>vantagem</label>
      <input class="w-100">
    </div>
  </mat-card>
  <mat-card class="col-md-2 col-sm-12">
    <div class="key-value-inline">
      <label>Reputação</label>
      <input class="w-100">
    </div>
  </mat-card>
  <mat-card class="col-md-2 col-sm-12">
    <div class="key-value-inline">
      <label>Prontos de Melhoria</label>
      <input class="w-100">
    </div>
  </mat-card>
</div>
