<div class="d-flex p-3">
  <div class="w-25 mr-2" style="margin: 0 0.5rem 0 0;">
    <div class="bg-exp"></div>
  </div>
  <div class="w-75">
    <div>
      <label>Nome</label>
      <input class="w-100">
      <!-- <app-custom-input></app-custom-input> -->
    </div>
    <div>
      <label>Vida</label>
      <input class="w-100">
      <!-- <app-custom-input></app-custom-input> -->
    </div>
    <div>
      <label>EST</label>
      <input class="w-100">
      <!-- <app-custom-input></app-custom-input> -->
    </div>
  </div>
</div>
<mat-tab-group [disablePagination]="false">
  <mat-tab label="Pessoal">
    <app-main-info></app-main-info>
  </mat-tab>
  <mat-tab label="Atributos">
    <app-atributos></app-atributos>
  </mat-tab>
  <mat-tab label="Pericias">
    <app-main-info></app-main-info>
  </mat-tab>
  <mat-tab label="Equipamento">
    <app-main-info></app-main-info>
  </mat-tab>
  <mat-tab label="Equipamento">
    <app-main-info></app-main-info>
  </mat-tab>
  <mat-tab label="Equipamento">
    <app-main-info></app-main-info>
  </mat-tab>
</mat-tab-group>
<!-- <app-main-info></app-main-info> -->
